.navbar {
  display: flex;
  align-items: center;
  margin: 0 4rem;
  margin-top: 2.1rem;
  margin-bottom: 17.1rem;

  &__logo {
    width: 8.35rem;
  }

  &__items--left {
    display: flex;
    gap: 4rem;
    margin-left: 6.224rem;
  }

  &__items--right {
    display: flex;
    gap: 4rem;
    align-items: center;
    margin-left: auto;
  }

  &__dropdown {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    gap: 0.9rem;
    position: relative;
  }

  &__text {
    color: $medium-gray;
    font-size: 1.4rem;
    font-weight: $weight-medium;
    line-height: 1.143;
    text-decoration: none;

    &:hover,
    &:active {
      color: $almost-black;
    }
  }

  &__arrow-icon {
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(80%);
  }
  to {
    opacity: 1;
    transform: translateY(100%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(100%);
  }
  to {
    opacity: 0;
    transform: translateY(80%);
  }
}

.navbar-popup {
  display: none;
  opacity: 0;
  background-color: $almost-white;
  padding: 2.4rem;
  border-radius: 10px;
  position: absolute;
  bottom: -1.5rem;
  transform: translateY(100%);
  z-index: 10;
  box-shadow: 0 1.5rem 2.5rem rgba(180, 180, 180, 0.5);

  &--align-left {
    left: 0;
  }

  &--align-right {
    right: 0;
  }

  &.popup-show {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: fadeIn 0.3s ease forwards;
  }

  &.popup-hide {
    animation: fadeOut 0.3s ease forwards;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
  }

  &__icon-container {
    width: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    color: $medium-gray;
    font-size: 1.4rem;
    font-weight: $weight-medium;
    white-space: nowrap;
  }
}
