body {
  font-family: "Epilogue", sans-serif;
  font-weight: $weight-medium;
  font-size: 1.8rem;
  line-height: 1.556;
  background-color: $almost-white;
}

.heading-primary {
  font-size: 8rem;
  font-weight: $weight-bold;
  line-height: 1;
  letter-spacing: -1.11px;
}
