.hero {
  margin-left: 16.5rem;
  position: relative;

  &__title {
    width: 54rem;
    margin-bottom: 4.8rem;
  }

  &__description {
    width: 44.5rem;
    color: $medium-gray;
    margin-bottom: 5.1rem;
  }

  &__button {
    display: inline-block;
    margin-bottom: 10.8rem;
  }

  &__clients {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  &__illustration {
    width: 48rem;
    position: absolute;
    bottom: 0;
    right: 13rem;
  }
}
